<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Измерение давления</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container" style="margin-top: 15px;" id="app">
    <h4>Настройка канала консультирования</h4>
    <form method="post">

        {% for protocol in protocols %}
            <h4>{{ protocol.title }} </h4>
            <p>{{protocol.description }}</p>

            <div class="form-check">
                <input type="checkbox" name="protocol_{{protocol.id}}" value="on" class="form-check-input" {% if protocol.id in connections %} checked {% endif %}>
                <label class="form-check-label">Включить</label>
            </div>
            <div class="form-group">
                <label for="date">Начало отсчета:</label>
                <input type="date" id="date" class="form-control" {% if protocol.id in connections %} value="{{connections[protocol.id]}}" {% endif %} name="protocol_{{protocol.id}}_date"/>
            </div>

        {% endfor %}
        <div class="form-group">
            <input type="submit" class="btn-success btn" value="Сохранить"/>
        </div>

    </form>
</div>

</body>
</html>